# Puerto en el que se ejecutará el servidor
PORT=3000

# Configuración de Conexión a Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456789
DB_NAME=eventos_db

DB_SYNC=false

# Mostrar consultas SQL en consola
DB_LOGGING=false