# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
Thumbs.db

# Documentación local
EJEMPLOS_REQUESTS.md
ESTRUCTURA_PROYECTO.md
MIGRACION_SCHEMA.md